{extend name='base'}
{block name="css"}

{/block}
{block name='content'}
<div class="header">
    <h1 class="logo">
    </h1>
    <ul class="nav">
        <li>
            <a href="http://lay.com">
                首页
            </a>
        </li>
        <li>
            <a href="admin/user/index" target="_blank">
                演示
            </a>
        </li>
        <li>
            <a href="https://gitee.com/wenhainan/LotusAdmin" target="_blank">
                源码
            </a>
        </li>
        <li>
            <a href="http://www.cnblogs.com/wenhainan/" target="_blank">
                博客
            </a>
        </li>
    </ul>
</div>
<div class="swiper-container swiper-container-vertical">
    <div class="swiper-wrapper">

        <div class="swiper-slide page1" style="height: 959px; margin-bottom: 30px;background-image:green; ">
            <div class="text">
                    <a class="download" href="javascript:tip()"></a>
            </div>
        </div>
        
        <div class="swiper-slide page3" style="width:100%;height: 959px; margin-bottom: 30px;background-color:black;">
            <div class="mb" >
            </div>       
        </div>

        <div class="swiper-slide page2" style="width:100%;height: 959px; margin-bottom: 30px;background-color:black;">
            <div class="code" >
            </div>       
        </div>

       
   
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
        <span class="swiper-pagination-bullet swiper-pagination-bullet-active">
        </span>
        <span class="swiper-pagination-bullet">
        </span>
        <span class="swiper-pagination-bullet">
        </span>
        <span class="swiper-pagination-bullet">
        </span>
        <span class="swiper-pagination-bullet">
        </span>
        <span class="swiper-pagination-bullet">
        </span>
        <span class="swiper-pagination-bullet">
        </span>
        <span class="swiper-pagination-bullet">
        </span>
        <span class="swiper-pagination-bullet">
        </span>
        <span class="swiper-pagination-bullet">
        </span>
    </div>
</div>
{/block}

{block name='script'}
<script src="__module__/layer/layer.js"></script>
<script type="text/javascript">
    var swiper = new Swiper('.swiper-container', {
		        pagination: '.swiper-pagination',
		        direction: 'vertical',
		        slidesPerView: 1,
		        paginationClickable: true,
		        spaceBetween: 10,
		        mousewheelControl: true,
                effect:'coverflow',
                autoplay: 8000
		    });
    function tip(){
        layer.confirm('各位用户老爷们,看在我这么努力的份上,无论如何给颗star吧！！！',
            {title:'别急悟空！',
            btn:['一定给','看心情咯']},
            function(){
                location.href = 'https://gitee.com/wenhainan/LotusAdmin';
            },
            function(){
                layer.msg('哟，这么傲娇,再让你等上6秒钟，来来来打我呀。。。23333',{time:6000},function(){
                    location.href = 'https://gitee.com/wenhainan/LotusAdmin';
                })
            }
            );
    }
</script>
{/block}
