<!DOCTYPE html>
<html>
<head>
  <title>闻海南 - LotusAdmin</title>
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
 {block name="css"}{/block}
  <link rel="stylesheet" href="__css__/swiper.css">
  <link rel="stylesheet" href="__css__/home.css">


</head>
<body>
{block name="content"}{/block}
</body>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="__js__/swiper.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
{block name='js'}{/block}
{block name='script'}{/block}
</html>